
<div *ngIf="team">
    <h2><span>Team</span> {{team.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{team.name}}</span>
        </dd>
        <dt><span>Amount Of Victories</span></dt>
        <dd>
            <span>{{team.amountOfVictories}}</span>
        </dd>
        <dt><span>Year Founded</span></dt>
        <dd>
            <span>{{team.yearFounded}}</span>
        </dd>
        <dt><span>Team Manager</span></dt>
        <dd>
            <span>{{team.teamManager}}</span>
        </dd>
        <dt><span>Brand Of Bicycle</span></dt>
        <dd>
            <span>{{team.brandOfBicycle}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
